@page
@model CerateModel
@{
}

<br>
<h2>New Client</h2>
<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-from-leable">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="" >
        </div>
    </div>

     <div class="row mb-3">
        <label class="col-sm-3 col-from-leable">Emaile</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" value="" >
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-from-leable">Phone</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="phone" value="">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-from-leable">Address</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="adress" value="">
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
        <button type="submit" class="btn btn-primary">Submite</button>
           </div>
           <div class="col-sm-3 d-grid">

               <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>

           </div>
    </div>

</form>









